{$APP_DOMAIN} {
  encode gzip zstd
  reverse_proxy frontend:3000
}

http://{$APP_IP} {
  encode gzip zstd
  reverse_proxy frontend:3000
}

https://{$APP_IP} {
  tls {
    issuer acme {
      profile shortlived
    }
  }
  encode gzip zstd
  reverse_proxy frontend:3000
}
